* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000; /* dark background hehe */
  font-family: 'Poppins', sans-serif;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;  
}


.logo img {
  width: 300px;
  height: auto;
  margin: 0;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 65px;
  margin-right: 70px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f4c20d; 
}
.hero img{
  width: 100%;
}

.info-section {
background: #ffffff;
padding: 40px 0;
display: flex;
justify-content: space-around;
text-align: center;
}


.info-box i {
font-size: 32px;
margin-bottom: 10px;
}


.membership {
display: flex;
padding: 50px;
justify-content: center;
align-items: center;
gap: 40px;
background: #111;
}


.membership img {
width: 500px;
border-radius: 10px;
justify-content: flex-start;
}


.membership-text h2 {
color: #d4a84e;
font-size: 28px;
margin-bottom: 10px;
}

.membership-text P {
    color: white;
}


.btn {
background: #d4a84e;
padding: 12px 25px;
color: #000;
text-decoration: none;
font-weight: bold;
border-radius: 5px;
display: inline-block;
margin-top: 15px;
}

.footer {
  width: 100%;
  background-color: rgb(51, 50, 50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  box-sizing: border-box;
  color: #ddd;
}

.footer-left h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer-left p {
  margin: 10px 0;
}

.footer-right img {
  width: 150px;
  height: auto;
}

.footer-left a {
  color: #ddd;
  text-decoration: none;
}

.footer-left a:hover {
  color: #f4c20d; 
}