
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000; /* dark background hehe */
  font-family: 'Poppins', sans-serif;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;  
}


.logo img {
  width: 300px;
  height: auto;
  margin: 0;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-right: 70px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f4c20d; 
}


.overlay {
    background: rgba(0,0,0,0.3);  
    padding: 40px;
}

h1 {
    color: white;
    text-align: center;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 5px;
    border: none;
}

.contact-form button {
    padding: 12px;
    background: #c79745;
    color: white;
    border: none;
    border-radius: 5px;
}

.footer {
  width: 100%;
  background-color: rgb(51, 50, 50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  box-sizing: border-box;
  color: #ddd;
}

.footer-left h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer-left p {
  margin: 10px 0;
}

.footer-right img {
  width: 150px;
  height: auto;
}
