* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000; /* dark background hehe */
  font-family: 'Poppins', sans-serif;
  background-image: url("Images/background.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}


.logo img {
  width: 300px;
  height: auto;
  margin: 0;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 65px;
  margin-right: 70px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f4c20d;
}

.hero img{
  width: 100%;
  height: auto;
  background: url("your-image-here.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  object-fit: cover;   
  display: block;
}



/*================================== services =====================================*/
/* HERO SECTION */
.hero {
    position: relative;
    text-align: center;
}

.service_one{

  margin-left: 70px;
  display: flex;
  align-items: center;
  filter: brightness(65%);
}

/* DESCRIPTION */
.description {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  margin-left: 70px;
  margin-right: 70px;
  padding: 30px 40px;
  text-align: justify;
}

/* SCHEDULE BOX */
.schedule-box {
    width: 85%;
    margin-top: 50px;
    margin: 0 auto;
    background: #dcdcdc;
    color: black;
    padding: 40px;
    margin-bottom: 40px;
}

.schedule-box h3 {
    font-size: 20px;
}

/* PRICE SECTION */
.pricing-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.big-box {
    width: 120px;
    height: 120px;
    background: #dcdcdc;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.small-box {
    width: 120px;
    height: 120px;
    background: #dcdcdc;
}



/* Footer ito */
.footer {
  width: 100%;
  background-color: rgb(51, 50, 50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  box-sizing: border-box;
  color: #ddd;
}

.footer-left h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer-left p {
  margin: 10px 0;
}


.footer-right img {
  width: 150px;
  height: auto;
}