* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000; /* dark background hehe */
  font-family: 'Poppins', sans-serif;
  background-image: url("Images/background.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}


.logo img {
  width: 300px;
  height: auto;
  margin: 0;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-right: 70px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f4c20d;
}

.hero img {
  width: 100%;
  height: 500px;
  background: url("your-image-here.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
}

/* ito yung naging div natin sa 4 images */
.services-section {
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.service-card {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #444;
}

/* Left image*/
.service-card img {
  width: 40%;
  object-fit: cover;
}

/* RIGHT TEXT BOX */
.service-text {
  width: 60%;
  background: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.service-text h3 {
  margin-bottom: 10px;
  font-size: 22px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  background: #000;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
}

/*boxes*/
.lower-half {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* MAIN GRID AREA */
.layout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

/* BOXES */
.box {
  background-color: rgba(54, 54, 54, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}


.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* SET HEIGHTS */
.small {
  height: 250px;
}

.large {
  height: 250px;
}

.tall {
  height: 250px;
}

.wide-small {
  height: 250px;
}

/*sa membership*/

.bg {
  background-color: #000;
  font-family: 'Poppins', sans-serif;
  background-image: url("Images/cta.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* Header */
header {
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 20px;
  font-weight: bold;
}

header nav a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-size: 16px;
}

header nav a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 500px;
  background: url("your-image-here.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;

}

.hero-content {
  max-width: 400px;
  background: rgba(0, 0, 0, 0.4);
  padding: 25px;
  border-radius: 10px;
  color: white;
}

.hero-content h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 7px 0;
  border: none;
  border-radius: 5px;
}

.contact-form button {
  background: #e8b051;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.contact-form button:hover {
  background: #d39a39;
}

/*services*/
/* HERO SECTION */
.hero {
    position: relative;
    text-align: center;
}

.service_one{

  margin-left: 70px;
  display: flex;
  align-items: center;
  filter: brightness(65%);
}

/* DESCRIPTION */
.description {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  margin-left: 70px;
  margin-right: 70px;
  padding: 30px 40px;
  text-align: justify;
}

/* SCHEDULE BOX */
.schedule-box {
    width: 85%;
    margin-top: 50px;
    margin: 0 auto;
    background: #dcdcdc;
    color: black;
    padding: 40px;
    margin-bottom: 40px;
}

.schedule-box h3 {
    font-size: 20px;
}

/* PRICE SECTION */
.pricing-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.big-box {
    width: 140px;
    height: 140px;
    background: #dcdcdc;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.small-box {
    width: 120px;
    height: 120px;
    background: #dcdcdc;
}

/* Footer */
footer {
  background: #222;
  color: white;
  padding: 30px;
}

footer h3 {
  margin-bottom: 15px;
}

/* FAQ SECTION */
.faq-block {
  width: 100%;
  background-color: #dfdfdf;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}


.faq-row {
  background-color: #e8e8e8;
  padding: 10px;
}

/* Footer ito */
.footer {
  width: 100%;
  background-color: rgb(51, 50, 50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  box-sizing: border-box;
  color: #ddd;
}

.footer-left h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer-left p {
  margin: 10px 0;
}


.footer-right img {
  width: 150px;
  height: auto;
}