* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000; /* dark background hehe */
  font-family: 'Poppins', sans-serif;
   background-image: url("Images/background.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;  
}


.logo img {
  width: 300px;
  height: auto;
  margin: 0;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-right: 70px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f4c20d; 
}
.hero img{
  width: 100%;
}
/* ito yung naging div natin sa 4 images */
.services-section {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.service-card {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #444;
}

/* Left image*/
.service-card img {
    width: 40%;
    object-fit: cover;
}

/* RIGHT TEXT BOX */
.service-text {
    width: 60%;
    background: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.service-text h3 {
    margin-bottom: 10px;
    font-size: 22px;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    background: #000;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
}

/*boxes*/

.lower-half {
width: 100%;
padding: 20px 40px;
display: flex;
flex-direction: column;
gap: 30px;
}


/* MAIN GRID AREA (the 4 boxes) */
.layout-container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto;
gap: 20px;
}


/* Boxes */
.box {
background-color: rgba(54, 54, 54, 1.0);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-size: 20px;
padding: 10px;
}


.small {
height: 250px;
}


.large {
height: 250px;
}


.tall {
height: 250px;
}


.wide-small {
height: 250px;
}


/* FAQ SECTION */
.faq-block {
width: 100%;
background-color: #dfdfdf;
border: 3px solid #4fa3ff;
padding: 20px;
display: flex;
flex-direction: column;
gap: 10px;
font-size: 18px;
}


.faq-row {
background-color: #e8e8e8;
padding: 10px;
}